<!DOCTYPE html>

<html>
<meta charset="UTF-8">
<link rel="stylesheet" href="style.css" type="text/css">

<head>
	<title>
		Post
	</title>
</head>

<body>

<p id="para1"> Spill your beans! Tell us what brings you to Latte°tude</p>	

<div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 form-container">

<form action="#" id="contactForm" method="post" name="contactForm">
<fieldset>

<div><input id="contactName" name="contactName" placeholder="Name_" size="35" type="text" value="" /></div>

<div><input id="contactEmail" name="contactEmail" placeholder="Email_" size="35" type="email" value="" /></div>

<div><textarea cols="55" id="contactMessage" name="contactMessage" placeholder="Message_" rows="15"></textarea><br></div>

<div><!-- contact-warning -->

<button class="submit">Send</button><span id="image-loader"></span></div>
</fieldset>
</form>

  <div style="text-align: center;"><a href= "file:///Users/itsworthmore/Desktop/results.html"><img id= "img2" src="arrow.png">

</body>

</html>