{% from "macros/_form.html" import render_form %}

<!DOCTYPE html>

<html>

<head>
<meta charset="UTF-8">
	<title>
	Preferences
	</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/style.css') }}"></head>
</head>

<body> 
<p id="para1"> Choose your preferences from the drop down menues.</p>	

<div class="container">
    <h2>Edit Preferences</h2>
    {{ render_form(url_for('user_profile', username=user.username), form) }}
</div>

<!-- <div>
<br><br>
              </span></td>
              <td>
                Age:</label>
                <select name="select" id="select">
                  <option value="18-21">18-21</option>
                  <option value="22-25">22-25</option>
                  <option value="26-29">26-29</option>
                  <option value="30-33">30-33</option>
                  <option value="34+">34+</option>
                </select>
              </td>

  <br><br>
              </span></td>
              <td>
                 Gender:</label>
                <select name="select" id="select">
                  <option value="M">M</option>
                  <option value="F">F</option>                
                </select>
              </td>
  <br><br>
              </span></td>
              <td>
                 Distance:</label>
                <select name="select" id="select">
                  <option value="Less than 1 mile">Less than 1 mile</option>
                  <option value="1-4 miles">1-4 miles</option>
                  <option value="5-10 miles">5-10 miles</option>
                  <option value="10+ miles">10+ miles</option>
                </select>
              </td>
 <br><br>
              </span></td>
              <td>
                 Purpose:</label>
                <select name="select" id="select">
                  <option value="Study Buddy">Study-Buddy</option>
                  <option value="Chill">Chill</option>
                  <option value="Advice">Advice</option>
                </select>
              </td>
  <br><br>
              </span></td>
              <td> Availability:</label>
                <select name="select" id="select">
                  <option value="Morning">Morning</option>
                  <option value="Noon">Noon</option>
                  <option value="Evening">Evening</option>
                </select>
              </td>
  <br><br>
  </div> -->

  <div style="text-align: center;"><a href="{{ url_for('create_post', username=user.username) }}"><img id="img2" src="{{ url_for('static', filename='img/arrow.jpg') }}">
</div>


</body>

</html>